#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "directorylister"
name = "Directory Lister"
description.en = "Expose the contents of any web-accessible folder for browsing and sharing"
description.fr = "Exposez le contenu de n'importe quel dossier accessible sur le Web pour la navigation et le partage"

version = "5.4.1~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "https://www.directorylister.com/"
demo = "https://demo.directorylister.com/"
admindoc = "https://docs.directorylister.com/"
code = "https://github.com/DirectoryLister/DirectoryLister"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/directorylister"

    [install.admin]
    type = "user"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

[resources]

    [resources.sources]

    [resources.sources.main]
    in_subdir = false
    url = "https://github.com/DirectoryLister/DirectoryLister/releases/download/5.4.1/DirectoryLister-5.4.1.tar.gz"
    sha256 = "0d57f8a7aeb4547631d6e7d636038e99d5dab16b93131d8aa67985adcfe9017a"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset = "DirectoryLister-.*\\.tar\\.gz"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php8.4-fileinfo",
        "php8.4-dom",
        "php8.4-zip",
        "php8.4-mbstring",
    ]
